<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>유저 정보 페이지</title>
  <link rel="stylesheet" href="/css/userStyle.css" />
</head>

<body>
  <h1>유저 정보 확인</h1>
  <h3>
    <p>
      <span class="underline">
        <%= findUser.name %>
      </span> 님, 반갑습니다!
    </p>
  </h3>
  <a href="/board" class="writeBoard btn">글쓰기</a>
</body>

</html>