<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>유저 정보 페이지</title>
  <link rel="stylesheet" href="/css/userStyle.css" />
</head>

<body>
  <h1>마이페이지</h1>
  <h3>
    <p>
      <span class="underline">
        <%= findUser.name %>
      </span> 님, 반갑습니다!
    </p>
  </h3>
  <a href="/board" class="writeBoard btn">게시판</a>
</body>
<script>
  // console.log(document.cookie);
  // document.cookie = `user= <%= findUser.name %>; expires=16 Mar 2023 15:27:00 GMT; path=/`;
  console.log(document.cookie);
</script>

</html>